* {
  border-collapse: collapse;
}

:root {
  font-weight: 400;

  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 6.5rem;
  padding-bottom: 4rem;
}

#toolbar,
#bottombar {
  position: fixed;
  gap: 0.7rem !important;
  width: 100dvw;
  left: 0;
  z-index: 111;
  padding-right: 2rem;
  max-height: max-content !important;
}
#toolbar {
  top: 0;
}
#bottombar {
  bottom: 0;
  filter: drop-shadow(0 0 5px #0004);
}

#table {
  flex-grow: 1;

  background: #ffffee;

  table-layout: fixed;

  & td {
    width: 2%;
    min-width: 5rem;
    cursor: cell;
    padding: 0.5rem;
    overflow: hidden;
    max-width: 0;
    white-space: nowrap;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    outline: 0;

    &.selected {
      box-shadow: inset 0 0 0 2px rgb(28, 152, 214);
    }
  }
}

.material-symbols-outlined {
  font-size: 1.1rem !important;
}

#bottombar-rightsection {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  gap: 0.7rem;

  & > .disp {
    border-radius: 999rem;
    overflow: hidden;
    padding-left: 1rem;
    display: flex;
    min-width: 9rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    box-shadow: inset 0 2px 5px #0004, 0 -2px 2px #0002, 0 3px 2px #fff9,
      inset 0 0 0 1px grey;
  }
}
@media screen and (max-width: 800px) {
  #sum,
  #avg,
  #median {
    display: none;
  }
}

input {
  border-radius: 0 !important;
  background: #ffffee;
  z-index: 0;
}

button {
  & .material-symbols-outlined {
    margin-right: 0.25rem;
  }
}
